header {
    background-color: #177077;
}

.bell {
    width: 20px;
    aspect-ratio: 1;
}

.chalenge{
    font-size: larger;
    text-decoration-color: #1b4d99;
}

.chalengeimage1{
    height: 100vh;
    background-color: #8e9293;
}


