header {
    background-color: #177077;
}


.bell {
    width: 20px;
    aspect-ratio: 1;
}

.chalenge{
    display: flex;
    text-align: center;
    font-size: larger;
    text-decoration-color: #1b4d99;
}

.chalengeimage1{
    background-color: #8e9293;
}


